
<body>
<!-- NavBar utente non loggato -->
<div *ngIf="logged===false" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <a class="navbar-brand text-white">TEAMUP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<!-- *ngIf="logged===true" -->

<!-- NavBar utente loggato -->
<div *ngIf="logged===true" >
    <nav class="navbar navbar-expand-sm" style="text-align: center;">
        <a class="navbar-brand text-white">TEAMUP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active">Home</a>    
                </li>
                <li class="nav-item">
                    <a routerLink="/pagina-profilo" routerLinkActive="active">Profilo</a>
                </li>
            </ul>
        </div>
    </nav>
</div>