<html>

<head></head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-3 text-white">
                <div class="card" style="width: 200px; height: 200px;">
                    <img class="card-img-top" src="https://randomuser.me/api/portraits/women/44.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                    </div>
                </div>

                <h3>SKILLS</h3>
                <textarea bind-disabled="isDisabled" rows="6" cols="25" type="text" style="color: black;"
                    placeholder="Modifica con una beve descrizione" name="descrizione" required [(ngModel)]="utente.descrizione"></textarea>
            </div>

            <div class="col-lg-6 mx-auto">
                <h2 class="text-white">{{utente.nome}} {{utente.cognome}}</h2>

                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#informazioni">Informazioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#progetti">Progetti</a>
                    </li>
                </ul>

                <br>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="informazioni">

                        <div class="row">
                            <div class="col-md-4 text-white">
                                <h5>Telefono:</h5>
                            </div>
                            <div class="col-md-8">
                                <input bind-disabled="isDisabled" type="text" style="color: #0f1721;" value="{{utente.numero_telefono}}" name="numero_telefono" required [(ngModel)]="utente.numero_telefono">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-white">
                                <h5>Città:</h5>
                            </div>
                            <div class="col-md-8">
                                <input bind-disabled="isDisabled" type="text" style="color: black;" cols="40"
                                    value="{{utente.citta}}" name="citta" required [(ngModel)]="utente.citta">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-white">
                                <h5>Email</h5>
                            </div>
                            <div class="col-md-8">
                                <input bind-disabled="isDisabled" type="text" style="color: black;" cols="40"
                                    value="{{email}}" name="email" required [(ngModel)]="email">
                            </div>

                        </div>

                        <br>



                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-secondary" (click)="modificaProfilo()">{{testo}}</button>   
                            </div>

                        </div>

                    </div>

                    <a *ngIf="isDisabled==false" (click)="modificaPassword()" class="">Cambia Password</a>


                    <div class="tab-pane container fade" id="progetti">...</div>

                </div>

            </div>
        </div>

    </div>


    <!-- FINE FATTO DA ALESSIOOOOOOOOOOO -->
</body>

</html>