<html>

<head></head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm navbar-fixed-top">
            <a class="navbar-brand text-white">TEAMUP</a>
            <div class="ml-auto">
                <a routerLink="/registrazione" routerLinkActive="active">Non ti sei ancora registrato? Registrati</a>
            </div>
        </nav>

    </div>

    <!-- FATTO DA ALESSIOOOOOOOOOOO -->

    <div class="container">
        <div class="row">
            <div class="col-md-3 text-white">
                <!-- <div class="avatar-wrapper">
                    <img class="profile-pic" src="" />
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input class="file-upload" type="file" accept="image/*" />
                </div> -->
                
                <h3>SKILLS</h3>
            </div>

            <div class="col-md-6 mx-auto">
                <h4 class="text-white"> Nome Cognome </h4>
                <br>
                <ul class="nav nav-tabs text-white" role="tablist">
                    <li role="presentation "><a href="#info" aria-controls="info" role="tab" data-toggle="tab"
                            class="border-white">Informazioni</a>
                    </li>
                    <li role="presentation"><a href="#progetti" aria-controls="progetti" role="tab" data-toggle="tab"
                            class="border-white">Progetti</a>
                    </li>
                </ul>

                <div class="tab-content text-white">

                    <div role="tabpanel" class="tab-pane active" id="info">
                        <h3>Informazioni</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum error perferendis
                            dolorem doloremque delectus animi inventore cum beatae, voluptatem id distinctio nobis
                            laudantium aut illum ducimus temporibus pariatur non!</p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="progetti">
                        <h3>Progetti</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum error perferendis
                            dolorem doloremque delectus animi inventore cum beatae, voluptatem id distinctio nobis
                            laudantium aut illum ducimus temporibus pariatur non!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-2 ml-auto">
                <button type="button" class="btn btn-secondary">Modifica</button>
            </div>
        </div>
    </div>

    <!-- FINE FATTO DA ALESSIOOOOOOOOOOO -->

</body>

</html>