<html>

<head></head>

<body>

    <!-- FATTO DA ALESSIOOOOOOOOOOO -->

    <div class="container">
        <div class="row">
            <div class="col-md-3 text-white">
                <div class="card" style="width: 200px; height: 200px;">
                    <img class="card-img-top" src="https://randomuser.me/api/portraits/women/44.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                    </div>
                </div>

                <h3>SKILLS</h3>
                <dl>
                    Lorem ipsum dolor
                    sit amet, consectetur adipisicing
                    elit.
                </dl>
            </div>

            <div class="col-lg-6 mx-auto">
                <h2 class="text-white">{{utente.nome}} {{utente.cognome}}</h2>
                <br>
                <ul class="nav nav-tabs text-white" role="tablist">
                    <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab"
                            class="border-white">Informazioni</a>
                    </li>
                    <li role="presentation"><a href="#progetti" aria-controls="progetti" role="tab" data-toggle="tab"
                            class="border-white">Progetti</a>
                    </li>
                </ul>

                <div class="tab-content text-white">

                    <div role="tabpanel" class="tab-pane active" id="info">
                        <h3>Informazioni</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Telefono:</h4>
                            </div>
                            <div class="col-md-8">
                                <input bind-disabled=false readonly="true" type="text" style="color: #0f1721;" value="{{utente.numero_telefono}}">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <h4>Città di Residenza:</h4>
                            </div>
                            <div class="col-md-8">
                                <input bind-disabled=false type="text" style="color: black;" cols= "40">
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-4">
                                <h4>CV:</h4>
                            </div>
                            <div class="col-lg-4">
                                <textarea rows="3"  cols= "45"  type="text" style="color: black;">
                                    </textarea>
                            </div>
                        </div>


                        <!-- <a>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, at obcaecati. 
                            Nemo blanditiis ducimus facilis illum et neque quibusdam ipsum odio unde natus labore 
                            aliquid eius, ipsa iusto ad sequi!
                        </a> -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="progetti">
                        <h3>Progetti</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum error perferendis
                            dolorem doloremque delectus animi inventore cum beatae, voluptatem id distinctio nobis
                            laudantium aut illum ducimus temporibus pariatur non!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-2 ml-auto">
                <button type="button" class="btn btn-secondary">Modifica</button>
            </div>
        </div>
    </div>

    <!-- FINE FATTO DA ALESSIOOOOOOOOOOO -->
</body>
</html>