<html>

<head>

</head>

<body>

  <div class="container-fluid">
    <!-- Image and text -->
    <!-- <nav class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="#">
        <img
          src="https://lh3.googleusercontent.com/proxy/hsdIboO2Bp1ZIpXYVVI-LbRslm4z42VlcVLBYhNHEReT6f6n0bwxkiyWz_ibDbjpIGih9nvIlf7-dAb-oj5cykBLp-rP-jO_4HteKxvujWtSU3nKMheyH2wFHujjs-P5jwzESIY"
          width="30" height="30" class="d-inline-block align-top">
        TeamUp
      </a>
    </nav> -->
  </div>

  <div class="container">
    <div class="card mx-auto w-100 text-white bg-dark mb-3">
      <div class="card-body">
        <form>
          <div class="form-group w-50 mx-auto">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group w-50 mx-auto">
            <label>Password</label>
            <div class="input-group mb-3">
              <input type={{tipo}} id="pwd" class="form-control" placeholder="Enter Password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showPwd()">Mostra</button>
              </div>
            </div>
          </div>
          <div class="mx-auto w-50">
            <button type="submit" class="btn btn-primary">Accedi</button>
          </div>
          <div class="mx-auto w-50">
            <a routerLink="/registrazione" routerLinkActive="active">Non ti sei ancora registrato? Registrati</a>
            
          </div>
        </form>

      </div>
    </div>


  </div>

</body>

</html>


