.btn-outline-secondary {
    border-color: #ced4da;
}

form
{
    padding: 100px;
}

body
{
    
    background-color: #535353;
}

.navbar
{
    background-color: #c4c4c4;
}

.card
{
    background-color: #c4c4c4;
}

.card-body
{
    padding-top: 100px;
}

a
{
    text-align: right;
}


/* .form-group
{
    margin-bottom: 2rem;
} */