.btn-outline-secondary {
    border-color: #ced4da;
}

form {
    padding: 100px;
}

body {
    background-color: #0f1721;
    padding: 100px;
}

.navbar {
    background: #223449;
}

.card-body {
    background-color: #0059B3;
    padding-top: 100px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
