<html>

<head></head>

<body>
    <div class="container">
        <form (ngSubmit)="registrazione()">
            <div class="form-group w-25 mx-auto">

                <label class="text-white">Nome</label>
                <input type="text" class="form-control" id="InputNome" placeholder="Inserisci Nome" name="nome" required
                    [(ngModel)]="utente.nome">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Cognome</label>
                <input type="text" class="form-control" id="InputCognome" placeholder="Inserisci Cognome" name="cognome"
                    required [(ngModel)]="utente.cognome">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Email</label>
                <input type="text" class="form-control" id="InputEmail" placeholder="Inserisci Email" name="email"
                    required [(ngModel)]="utente.email">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Numero di telefono</label>
                <input type="text" class="form-control" id="InputNumero" placeholder="Inserisci Numero"
                    name="num_telefono" required [(ngModel)]="utente.num_telefono">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Città di residenza</label>
                <input type="text" class="form-control" id="InputCittà" placeholder="Inserisci Città" name="citta"
                    required [(ngModel)]="utente.citta">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Password</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Inserisci Password"
                    name="password" required [(ngModel)]="utente.password">

            </div>

            <div class="form-group w-25 mx-auto">

                <label class="text-white">Conferma Password</label>
                <input type="password" class="form-control" id="InputConfPassword"
                    placeholder="Inserisci Conferma Password" name="confPassword" required
                    [(ngModel)]="utente.confPassword">

            </div>

            <div class="form-group w-25 mx-auto">
                <label class="text-white">Curriculum Vitae</label>
                <br>
                <input type="file" id="InputCV" class="upload" multiple="single">
            </div>

            <div class="mx-auto w-25">
                <button type="submit" class="btn btn-primary">Registrati</button>
            </div>

            <div class="mx-auto w-25">
                <a routerLink="/login" routerLinkActive="active">Sei già registrato? Accedi</a>
            </div>

        </form>

        <br>

    </div>

</body>

</html>