<html>

<head></head>

<body>
    <div class="b">
        <h2>Progetti</h2>
        <br>
        <br>
    </div>
    <div class="container" *ngFor="let progetto of progetti">
        <div class="card">
            <h5 class="card-header" style="background-color: #223449; color: white;">{{progetto.nome}}                                                       
                <h6 class="text-white">Team Leader: {{progetto.nomeTeamLeader}} {{progetto.cognomeTeamLeader}}</h6>
            </h5>
            <div class="card-body">
                <ul>
                    <li>
                        Genere: {{progetto.genere}}
                    </li>
                    <li>
                        Descrizione: {{progetto.descrizione}}
                    </li>
                    <li>
                        Numero Partecipanti Richiesto: {{progetto.num_partecipanti}}
                    </li>
                </ul>

                <div class="ml-auto w-25">
                    <button *ngIf= "progetto.partecipa === true"type="submit" class="btn btn-secondary" >Partecipa</button>
                    </div>
            </div>
            <br>
        </div>
        <br>
    </div>

</body>

</html>