<html>

<head></head>

<body>
    <div class="container">
        <div *ngFor="let progetto of progetti" class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header" style="background-color: #223449; color: white;">{{progetto.nome}}</h5>

                    <div class="card-body">

                        <!-- TABS  -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#descrizione">Descrizione</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#{{progetto.nome}}+riepilogo">Riepilogo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#candidature">Candidature</a>
                            </li>



                        </ul>

                        <!-- CONTENUTO CARD -->

                        <div class="tab-content ">
                            <div class="tab-pane fade active show" id="descrizione">
                                <div class="col-md-4">
                                    <a>descrizione</a>
                                </div>
                            </div>

                            <br>

                            <div class="tab-pane fade" id="#{{progetto.nome}}+riepilogo">


                                <div class="row">
                                    <div class="col-md-4 ">
                                        <a>Avanzamento Progetto:</a>
                                    </div>

                                    <div class="col-md-8">
                                        <textarea bind-disabled="isDisabled" rows="6" cols="40" type="text"
                                            style="color: black;" placeholder="Modifica con una beve descrizione"
                                            value="{{riepilogo.AvanzamentoProgetto}}" name="AvanzamentoProgetto"
                                            [(ngModel)]="riepilogo.AvanzamentoProgetto" required>
                                        </textarea>
                                    </div>

                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-md-4 ">
                                        <a>Data:</a>
                                    </div>
                                    <div class="col-md-8">
                                        <a>{{dataRiepilogo}}</a>
                                    </div>
                                </div>

                                <br>

                                <div class="row">

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modificaRiepilogo()">{{tastoModifica}}</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>

        </div>

    </div>
</body>

</html>