<html>

<head></head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header" style="background-color: #223449; color: white;">Progetto</h5>
                    <div class="card-body">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#descrizione">Descrizione</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#riepilogo">Riepilogo</a>
                            </li>

                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane fade active show" id="descrizione">
                                <div class="col-md-4">
                                    <a>descrizione</a>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="riepilogo">
                                <div class="row">
                                    <div class="col-md-4 text-white">
                                        <h3>Titolo:</h3>
                                    </div>
                                    <div class="col-md-8">
                                        <input bind-disabled="isDisabled"  style="color: #0f1721;"
                                            value="{{riepilogo.titolo}}" name="titolo"
                                            [(ngModel)]="riepilogo.titolo" required>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>
</body>

</html>